{% load i18n %}
<!DOCTYPE html>
<html lang="nl">
    <head>
        <title>NDOV Loket - {% block title %}{% endblock %}</title>
        <meta name="description" content="Stichting OpenGeo voert een ND-OV met geplande en actuele reisinformatie uit het Nederlandse openbaar vervoer." />
        <meta name="keywords" content="NDOV,ND-OV,loket,open data,opendata,openbaar vervoer,OV,reisinformatie,BISON,IFF,standaarden,Connexxion,Arriva,Veolia,EBS,NS,Nederlandse Spoorwegen,Syntus" />
        <script src='{{ STATIC_URL }}helpdesk/jquery-1.5.min.js' type='text/javascript' language='javascript'></script>
        <script src='{{ STATIC_URL }}helpdesk/jquery-ui-1.8.9.custom.min.js' type='text/javascript' language='javascript'></script>
		<link rel='stylesheet' href='{{ STATIC_URL }}bootstrap.min.css' type='text/css' />
		<link rel='stylesheet' href='{{ STATIC_URL }}bootstrap-responsive.min.css' type='text/css' />
		<link rel='stylesheet' href='{{ STATIC_URL }}bootstrap.addons.css' type='text/css' />
        <link rel='stylesheet' href='{{ STATIC_URL }}helpdesk/jquery-smoothness-theme/jquery-ui-1.8.9.custom.css' type='text/css' />
    </head>
    <body>
        <div class='container'>
            {% include "helpdesk/navigation.html" %}

            <div id='body'>
                {% block body %}{% block helpdesk_body %}{% endblock %}{% endblock %}
            </div>

        </div>
    </body>
</html>
