Django==5.2.11
psycopg2
#south
#django-rosetta
unidecode==1.2.0
#django-crispy-forms==1.10.0

django-altcha

# Monitoring requirements
# -i https://testpypi.python.org/pypi protobix
protobix
