<h1 style='font-family: "Trebuchet MS", Arial, sans-serif; font-size: 14pt; color: #6593C0'>{% block header %}Helpdesk{% endblock %}</h1>

{% block content %}{% endblock %}

<p style='font-family: "Trebuchet MS", Arial, sans-serif; font-size: 11pt;'>Met vriendelijke groet,<br />Het NDOV Loket</p>

<p style='font-family: "Trebuchet MS", Arial, sans-serif; font-size: 9pt; color: #808080;' color='#808080'>Deze e-mail werd u als gebruiker van onze helpdesk toegezonden, in overeenstemming met onze algemene voorwaarden. Indien u vermoedt dat u dit bericht ten onrechte heeft ontvangen, stellen wij het op prijs als u ons daarvan op de hoogte stelt.</p>
