{% extends "signup/base.html" %}{% load i18n %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="cliente">
                <h2 class="text-warning">{% trans "Apply for a license" %}</h2>
                <p>{% trans "Please enter the details below and you will be emailed a license" %}</p>
                <form class="form form-horizontal" method='post' action='{% url 'signup_apply' %}'>
                    {% for field in form %}
                        <div class="form-group {% if field.errors %}error{% endif %}">
                            <label class="col-sm-2 control-label">{{ field.label }}</label>
                            <div class="col-sm-10">
                                {{ field }}
                                {% if field.errors %}<span class="help-inline">{{ field.errors|striptags }}</span>{% else %}
                                    {% if field.field.required %}&nbsp;<span class="label label-important"><small>{% trans "required" %}</small></span>{% endif %}
                                {% endif %}

                            </div>
                        </div>
                    {% endfor %}
                        <div class="controls col-md-offset-5">
                            <input type="submit" class="btn btn-primary" value="{% trans "Apply" %}"/>
                        </div>
                    {% csrf_token %}
                </form>
                <br />
                <br />
            </div>
        </div>
    </div>
	{% endblock %}
