{% extends "signup/base.html" %}{% load i18n %}

{% block helpdesk_body %}
<h2>{% trans "Apply for a license" %}</h2>
<p>{% trans "Please enter the details below and you will be emailed a license" %}</p>
<form class="form form-horizontal" method='post' action='{% url signup_apply %}'>
{% for field in form %}
	<div class="control-group">
		<label class="control-label">{{ field.label }}</label>
		<div class="controls">
			{{ field }}		
		</div>
	</div>
{% endfor %}
	<div class="controls">
		<input type="submit" class="btn btn-primary" value="{% trans "Apply" %}"/>
	</div>
{% csrf_token %}</form>

	{% endblock %}
